<!doctype html>
<html lang="en-US">
{% include head.html %}
<body>
{% include header.html %}
<div class="content">
<section id="community">
<div id="all-messages">
<h1>All Community Messages 
<sup>{% assign total_messages = site.posts | where: "tag", "community" %}[{{ total_messages.size }}]</sup>
</h1>
<div class="wrap">
{% assign pinned_messages = total_messages | where: "tag", "pinned" %}
{% for post in pinned_messages %}
<div class="pinned-message">
<p>
[ANN] {{ post.title | truncate: 55 }}
</p>
{% if post.link %}
<p>
<a href="{{ post.link }}">{{ post.meta }}</a>
</p>
{% else %}
<p>
{{ post.author }}
</p>
{% endif %}
</div>
{% endfor %}

{% assign normal_messages = site.posts | where: "tag", "community" %}

{% assign timeframe = 604800 | times: 8 %}

{% for post in normal_messages limit: 50 %}

{% unless post.category contains "story" %}

{% assign post_in_seconds = post.date | date: "%s" | plus: 0 %}
{% assign recent_posts = "now" | date: "%s" | minus: timeframe  %}

{% if post_in_seconds > recent_posts %}

<div class="message">
<p>
{{ post.title | truncate: 55 }}
</p>
<p>
<a href="{{ post.url }}" class="message-link">{{ post.author }}</a>
</p>
</div>
{% endif %}

{% endunless %}

{% endfor %}
</div>
<hr>
</div>

<p><em>Only displaying the most recent entries.</em></p>
<p><em>Visit the <a href="/archive#{{ page.tag }}">Archive</a> to view all entries in  [{{ page.tag }}].</em></p>

<div class="language-plaintext highlighter-rouge">
<div class="highlight">
<pre class="highlight">
<code>
<ul class="legend">
<li>[WTS] = Want To Sell</li>
<li>[WTB] = Want To Buy</li>
<li>[LTH] = Looking To Hire</li>
<li>[LTT] = Looking To Trade</li>
<li>[AFH] = Available For Hire</li>
<li>[ANN] = Announcement</li>
<li>[PBP] = Pro Bono Publico</li>
</ul>
</code>
</pre>
</div>
</div>


</section>
</div>
{% include footer.html %}
</body>
</html>
